@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

// VARIABLES

$color-white: #ffffff;
$color-black: #000000;
$color-grey-md: #333;
$color-grey-light: #f0f0f0;
$color-green-accent: #00ff00;
$color-red-accent: #f41003;
$color-yellow-accent: #f4c803;
$color-purple-accent: #9801fe;
$color-orange-accent: #ff9900;
$color-purple-accent-dark: #3a0061;
$color-pink-accent-light: #ff69b4;
$color-salmon: #fe5757;
$color-green: #62dc76;
$color-aqua: #39b2b5;
$color-blue: #1e7bd6;
$color-blue-dark: #000e88;

@mixin tag($color, $bg-color) {
  display: inline-block;
  color: $color;
  background-color: $bg-color;
  padding: 0.5rem 1rem;
}

// RESET

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

// TYPO

@font-face {
  font-family: "Navigator Extended";
  src: url("/assets/fonts/Navigator-Extended.ttf") format("truetype");
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: "Navigator Extended", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1;
  margin-bottom: 4rem;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.8rem;
}

h5 {
  font-size: 2.4rem;
}

h6 {
  font-size: 2rem;
}

p:not(:last-child) {
  margin-bottom: 2rem;
}

.bold {
  font-weight: 700;
}

.cidilha {
  position: relative;

  &::after {
    z-index: 0;
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-70%);
    width: 0.5rem;
    height: 1rem;
    background-color: $color-white;
  }
}

// BASE STYLES

section {
  position: relative;
  padding: 10rem 6rem;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  & > div {
    max-width: 130rem;
  }
}

.list {
  list-style: none;

  &__item {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  &__icon {
    flex-shrink: 0;
    width: 3.5rem;
    height: 3.5rem;

    &--roxo {
      background: url("/assets/imgs/olho-roxo.png") no-repeat center/contain;
    }

    &--rosa {
      background: url("/assets/imgs/olho-rosa.png") no-repeat center/contain;
    }

    &--verde {
      background: url("/assets/imgs/olho-verde.png") no-repeat center/contain;
    }

    &--vermelho {
      background: url("/assets/imgs/olho-vermelho.png") no-repeat center/contain;
    }
  }
}

// LAYOUT

.column-2 {
  display: flex;
  gap: 6rem;

  &--reverse {
    flex-direction: row-reverse;
  }

  & > div {
    z-index: 2;
    max-width: 60%;
  }
}

.bg-white {
  background: url("/assets/imgs/textura-verde.png");
}

.bg-purple {
  background: url("/assets/imgs/textura-roxo.png") no-repeat center/cover,
    $color-purple-accent;
  background-blend-mode: multiply;
}

.bg-aqua {
  background: url("/assets/imgs/textura-verde.png") no-repeat center/cover, $color-aqua;
  background-blend-mode: multiply;
}

.bg-orange {
  background: url("/assets/imgs/textura-rosa.png") no-repeat center/cover,
    $color-orange-accent;
  background-blend-mode: multiply;
}

.bg-salmon {
  background: url("/assets/imgs/textura-roxo.png") no-repeat center/cover, $color-salmon;
  background-blend-mode: multiply;
}

.bg-green {
  background: url("/assets/imgs/textura-verde.png") no-repeat center/cover, $color-green;
  background-blend-mode: multiply;
}

.details {
  &::after {
    z-index: 0;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &::before {
    z-index: 1;
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: unset;
    right: -18%;
    transform: translateY(-50%) scale(-1);
    width: 80rem;
    height: 80rem;

    background: url("/assets/imgs/ondinhas-laranja.png") no-repeat center/cover;
  }

  &--red {
    &::after {
      background: url("/assets/imgs/moldura-2.png") no-repeat center/cover;
    }
  }

  &--purple {
    &::after {
      background: url("/assets/imgs/moldura-1.png") no-repeat center/cover;
    }
  }

  &--reverse {
    &::after {
      transform: scale(-1);
    }

    &::before {
      right: unset;
      left: -18%;
      transform: translateY(-50%);
    }
  }
}

.blobs {
  &::after {
    z-index: 0;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &--top {
    &::after {
      top: 0;
      left: 0;
      background: url("/assets/imgs/moldura-4.png") no-repeat left/contain;
    }
  }

  &--bottom {
    &::after {
      bottom: 0;
      right: 0;
      background: url("/assets/imgs/moldura-5.png") no-repeat right/contain;
    }
  }
}

.barco,
.algas,
.olhos {
  z-index: 1;
  position: absolute;
  bottom: -12rem;

  &--right {
    left: unset;
    right: -2rem;
  }

  &--left {
    left: -2rem;
    right: unset;
  }
}

.barco {
  width: 50rem;

  &--right {
    transform: rotate(0);
  }

  &--left {
    transform: rotate(25deg);
  }
}

.algas {
  width: 60rem;

  &--right {
    transform: rotate(10deg);
  }

  &--left {
    transform: rotate(-10deg) scaleX(-1);
  }
}

.olhos {
  width: 30rem;
  bottom: 0;

  &--right {
    transform: rotate(0);
  }

  &--left {
    transform: rotate(-15deg) scaleX(-1);
  }
}

// HEADER & NAVBAR

.header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4rem 6rem;
}

.navbar {
  width: 100%;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-white;
  box-shadow: 0 1rem 2rem rgba($color-blue-dark, 0.5);

  &__logo {
    position: relative;
    display: block;
    transition: transform 0.3s ease;
    transform: rotate(20deg);

    &:hover {
      transform: rotate(0deg);
    }

    &::after {
      z-index: 0;
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-36%, -29%);
      width: 320%;
      height: 320%;
      background: url("/assets/imgs/barco-azul.png") no-repeat center/contain;
    }

    .logo {
      z-index: 1;
      position: relative;
      display: block;
      width: 10rem;
      transform: rotate(-12deg);
    }
  }

  &__navlist {
    list-style: none;
    display: flex;
    gap: 1rem;
  }

  &__navitem {
  }

  &__navlink:visited,
  &__navlink:link {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    color: $color-blue-dark;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 0.5rem 1rem;
    border: 3px solid transparent;
    transition: all 0.2s ease;

    &:hover {
      color: $color-white;
      background-color: $color-blue;
      border: 3px solid $color-blue;
      border-bottom-color: $color-blue-dark;
    }
  }
}

// PÁGINA SOBRE

#sobre {
  .hero {
    background: url("/assets/imgs/bg-fundo-vermelho.png") no-repeat center;
    background-size: cover;

    &__content {
      max-width: 60rem;
    }

    &__heading {
      width: 100%;
      margin-bottom: 2rem;
      background: url("/assets/imgs/logo-verde.png") no-repeat center/cover;
      -webkit-text-fill-color: transparent;
    }

    &__subheading {
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.2;
      color: $color-white;
      text-align: center;

      span {
        display: block;
        width: fit-content;
        margin: 0 auto 0.5rem;
        padding: 0.5rem;
        color: $color-purple-accent-dark;
        text-transform: uppercase;
        letter-spacing: 2px;
        background-color: $color-green-accent;
      }
    }
  }

  .projeto {
    &__content {
      position: relative;
    }

    &__heading {
      @include tag($color-green-accent, $color-purple-accent);
    }

    &__text {
      color: $color-grey-md;

      .bold {
        color: $color-purple-accent;
      }
    }

    &__img-wrapper {
      -webkit-mask-image: url("/assets/imgs/img-clip-5.png");
      -webkit-mask-size: 100% 150%;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
      transform: scale(-1);
    }

    &__img {
      width: 100%;
      transform: rotate(180deg);
    }
  }

  .objetivo {
    &__content {
      position: relative;
      z-index: 2;
    }

    &__heading {
      @include tag($color-white, $color-orange-accent);
    }

    &__text {
      color: $color-white;
    }

    &__box {
      max-width: 40rem;
      padding: 4rem;
      background-color: $color-purple-accent;

      .list__item {
        color: $color-green-accent;
        font-weight: 500;
        line-height: 1.1;
      }
    }

    &__box-text {
      color: $color-white;
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 1.2;
      text-align: center;
      margin-bottom: 4rem;
    }
  }

  .implementacao {
    &__heading {
      @include tag($color-white, $color-red-accent);
    }

    &__img {
      width: 100%;
      width: 60rem;
    }

    &__img-caption {
      text-align: right;
      font-size: 1.4rem;

      color: $color-black;
    }

    &__text {
      color: $color-black;
    }
  }
}
