@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@font-face {
  font-family: "Navigator Extended";
  src: url("/assets/fonts/Navigator-Extended.ttf") format("truetype");
}
body {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: "Navigator Extended", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1;
  margin-bottom: 4rem;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.8rem;
}

h5 {
  font-size: 2.4rem;
}

h6 {
  font-size: 2rem;
}

p:not(:last-child) {
  margin-bottom: 2rem;
}

.bold {
  font-weight: 700;
}

.cidilha {
  position: relative;
}
.cidilha::after {
  z-index: 0;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-70%);
  width: 0.5rem;
  height: 1rem;
  background-color: #ffffff;
}

section {
  position: relative;
  padding: 10rem 6rem;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
section > div {
  max-width: 130rem;
}

.list {
  list-style: none;
}
.list__item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.list__icon {
  flex-shrink: 0;
  width: 3.5rem;
  height: 3.5rem;
}
.list__icon--roxo {
  background: url("/assets/imgs/olho-roxo.png") no-repeat center/contain;
}
.list__icon--rosa {
  background: url("/assets/imgs/olho-rosa.png") no-repeat center/contain;
}
.list__icon--verde {
  background: url("/assets/imgs/olho-verde.png") no-repeat center/contain;
}
.list__icon--vermelho {
  background: url("/assets/imgs/olho-vermelho.png") no-repeat center/contain;
}

.column-2 {
  display: flex;
  gap: 6rem;
}
.column-2--reverse {
  flex-direction: row-reverse;
}
.column-2 > div {
  z-index: 2;
  max-width: 60%;
}

.bg-white {
  background: url("/assets/imgs/textura-verde.png");
}

.bg-purple {
  background: url("/assets/imgs/textura-roxo.png") no-repeat center/cover, #9801fe;
  background-blend-mode: multiply;
}

.bg-aqua {
  background: url("/assets/imgs/textura-verde.png") no-repeat center/cover, #39b2b5;
  background-blend-mode: multiply;
}

.bg-orange {
  background: url("/assets/imgs/textura-rosa.png") no-repeat center/cover, #ff9900;
  background-blend-mode: multiply;
}

.bg-salmon {
  background: url("/assets/imgs/textura-roxo.png") no-repeat center/cover, #fe5757;
  background-blend-mode: multiply;
}

.bg-green {
  background: url("/assets/imgs/textura-verde.png") no-repeat center/cover, #62dc76;
  background-blend-mode: multiply;
}

.details::after {
  z-index: 0;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.details::before {
  z-index: 1;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: unset;
  right: -18%;
  transform: translateY(-50%) scale(-1);
  width: 80rem;
  height: 80rem;
  background: url("/assets/imgs/ondinhas-laranja.png") no-repeat center/cover;
}
.details--red::after {
  background: url("/assets/imgs/moldura-2.png") no-repeat center/cover;
}
.details--purple::after {
  background: url("/assets/imgs/moldura-1.png") no-repeat center/cover;
}
.details--reverse::after {
  transform: scale(-1);
}
.details--reverse::before {
  right: unset;
  left: -18%;
  transform: translateY(-50%);
}

.blobs::after {
  z-index: 0;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
.blobs--top::after {
  top: 0;
  left: 0;
  background: url("/assets/imgs/moldura-4.png") no-repeat left/contain;
}
.blobs--bottom::after {
  bottom: 0;
  right: 0;
  background: url("/assets/imgs/moldura-5.png") no-repeat right/contain;
}

.barco,
.algas,
.olhos {
  z-index: 1;
  position: absolute;
  bottom: -12rem;
}
.barco--right,
.algas--right,
.olhos--right {
  left: unset;
  right: -2rem;
}
.barco--left,
.algas--left,
.olhos--left {
  left: -2rem;
  right: unset;
}

.barco {
  width: 50rem;
}
.barco--right {
  transform: rotate(0);
}
.barco--left {
  transform: rotate(25deg);
}

.algas {
  width: 60rem;
}
.algas--right {
  transform: rotate(10deg);
}
.algas--left {
  transform: rotate(-10deg) scaleX(-1);
}

.olhos {
  width: 30rem;
  bottom: 0;
}
.olhos--right {
  transform: rotate(0);
}
.olhos--left {
  transform: rotate(-15deg) scaleX(-1);
}

.header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4rem 6rem;
}

.navbar {
  width: 100%;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0 1rem 2rem rgba(0, 14, 136, 0.5);
}
.navbar__logo {
  position: relative;
  display: block;
  transition: transform 0.3s ease;
  transform: rotate(20deg);
}
.navbar__logo:hover {
  transform: rotate(0deg);
}
.navbar__logo::after {
  z-index: 0;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-36%, -29%);
  width: 320%;
  height: 320%;
  background: url("/assets/imgs/barco-azul.png") no-repeat center/contain;
}
.navbar__logo .logo {
  z-index: 1;
  position: relative;
  display: block;
  width: 10rem;
  transform: rotate(-12deg);
}
.navbar__navlist {
  list-style: none;
  display: flex;
  gap: 1rem;
}
.navbar__navlink:visited, .navbar__navlink:link {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: #000e88;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 0.5rem 1rem;
  border: 3px solid transparent;
  transition: all 0.2s ease;
}
.navbar__navlink:visited:hover, .navbar__navlink:link:hover {
  color: #ffffff;
  background-color: #1e7bd6;
  border: 3px solid #1e7bd6;
  border-bottom-color: #000e88;
}

#sobre .hero {
  background: url("/assets/imgs/bg-fundo-vermelho.png") no-repeat center;
  background-size: cover;
}
#sobre .hero__content {
  max-width: 60rem;
}
#sobre .hero__heading {
  width: 100%;
  margin-bottom: 2rem;
  background: url("/assets/imgs/logo-verde.png") no-repeat center/cover;
  -webkit-text-fill-color: transparent;
}
#sobre .hero__subheading {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  color: #ffffff;
  text-align: center;
}
#sobre .hero__subheading span {
  display: block;
  width: fit-content;
  margin: 0 auto 0.5rem;
  padding: 0.5rem;
  color: #3a0061;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #00ff00;
}
#sobre .projeto__content {
  position: relative;
}
#sobre .projeto__heading {
  display: inline-block;
  color: #00ff00;
  background-color: #9801fe;
  padding: 0.5rem 1rem;
}
#sobre .projeto__text {
  color: #333;
}
#sobre .projeto__text .bold {
  color: #9801fe;
}
#sobre .projeto__img-wrapper {
  -webkit-mask-image: url("/assets/imgs/img-clip-5.png");
  -webkit-mask-size: 100% 150%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  transform: scale(-1);
}
#sobre .projeto__img {
  width: 100%;
  transform: rotate(180deg);
}
#sobre .objetivo__content {
  position: relative;
  z-index: 2;
}
#sobre .objetivo__heading {
  display: inline-block;
  color: #ffffff;
  background-color: #ff9900;
  padding: 0.5rem 1rem;
}
#sobre .objetivo__text {
  color: #ffffff;
}
#sobre .objetivo__box {
  max-width: 40rem;
  padding: 4rem;
  background-color: #9801fe;
}
#sobre .objetivo__box .list__item {
  color: #00ff00;
  font-weight: 500;
  line-height: 1.1;
}
#sobre .objetivo__box-text {
  color: #ffffff;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 4rem;
}
#sobre .implementacao__heading {
  display: inline-block;
  color: #ffffff;
  background-color: #f41003;
  padding: 0.5rem 1rem;
}
#sobre .implementacao__img {
  width: 100%;
  width: 60rem;
}
#sobre .implementacao__img-caption {
  text-align: right;
  font-size: 1.4rem;
  color: #000000;
}
#sobre .implementacao__text {
  color: #000000;
}

/*# sourceMappingURL=styles.css.map */
