<div class="regua-logos">
  <a href="https://www.unicef.org/brazil/" target="_blank" class="regua-logos__logo"
    ><img src="/assets/imgs/logo-unicef@2000x.png" alt="Logo Unicef"
  /></a>
  <a href="https://sincronizaeducacao.com.br/" target="_blank" class="regua-logos__logo"
    ><img src="/assets/imgs/logo-sincroniza@2000x.png" alt="Logo Sincroniza Educação"
  /></a>
  <a
    href="https://icienciasperifericas.wordpress.com/"
    target="_blank"
    class="regua-logos__logo"
    ><img
      src="/assets/imgs/logo-icp@2000x.png"
      alt="Logo Instituto de Ciências Periféricas (ICP)"
  /></a>
  <a
    href="https://www.facebook.com/gedutec/?locale=pt_BR"
    target="_blank"
    class="regua-logos__logo"
    ><img
      src="/assets/imgs/logo-gedutec@2000x.png"
      alt="Logo Geductec – Tecnologia Educacional"
  /></a>
  <a
    href="https://www.nascentesociocultural.com.br/"
    target="_blank"
    class="regua-logos__logo"
    ><img
      src="/assets/imgs/logo-nascente@2000x.png"
      alt="Logo Nascente – Projetos de Impacto"
  /></a>
</div>
