<nav class="navbar">
  <div class="navbar__logo">
    <a href="/index.html">
      <img
        src="/assets/imgs/logo-branca.png"
        alt="Logo Seiva.Dados na cor branca"
        class="logo"
      />
    </a>
  </div>

  <ul class="navbar__navlist">
    <li class="navbar__navitem">
      <a class="navbar__navlink" href="/index.html">Sobre Seiva.Dados</a>
    </li>
    <li class="navbar__navitem">
      <a class="navbar__navlink" href="/impacto.html">Impacto do projeto</a>
    </li>
    <li class="navbar__navitem">
      <a class="navbar__navlink" href="/trilha.html">Trilha formativa</a>
    </li>
    <li class="navbar__navitem">
      <a class="navbar__navlink" href="/escolas.html">Escolas participantes </a>
    </li>
    <li class="navbar__navitem navbar__experiencias">
      <a class="navbar__navlink" href="/experiencias.html">Experiências Seiva.Dados</a>
      <nav class="menu-experiencias">
        <ul class="menu-experiencias__list">
          <li class="menu-experiencias__list-item">
            <a
              href="/experiencias/jairo-da-silva-rocha.html"
              class="menu-experiencias__list-link"
              >E.E. Jairo da Silva Rocha</a
            >
          </li>
          <li class="menu-experiencias__list-item">
            <a
              href="/experiencias/manuel-rodrigues-de-souza.html"
              class="menu-experiencias__list-link"
              >E.E. Manuel Rodrigues de Souza</a
            >
          </li>
          <li class="menu-experiencias__list-item">
            <a
              href="/experiencias/nathalia-uchoa.html"
              class="menu-experiencias__list-link"
              >E.E. Nathália Uchôa</a
            >
          </li>
          <li class="menu-experiencias__list-item">
            <a
              href="/experiencias/roberto-dos-santos-vieira.html"
              class="menu-experiencias__list-link"
              >E.E. Prof. Roberto dos Santos Vieira</a
            >
          </li>
          <li class="menu-experiencias__list-item">
            <a href="/experiencias/ruy-alencar.html" class="menu-experiencias__list-link"
              >E.E. Prof. Ruy Alencar</a
            >
          </li>
        </ul>
      </nav>
    </li>
    <li class="navbar__navitem">
      <a class="navbar__navlink" href="/quem.html">Quem faz a Seiva.Dados?</a>
    </li>
  </ul>
  <button class="navbar__menu">
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
  </button>
</nav>
