<nav class="navbar">
  <a href="/index.html">
    <div class="navbar__logo">
      <img
        src="/assets/imgs/logo-branca.png"
        alt="Logo Seiva.Dados na cor branca"
        class="logo"
      />
    </div>
  </a>
  <ul class="navbar__navlist">
    <li class="navbar__navitem">
      <a class="navbar__navlink" href="/index.html">Sobre Seiva.Dados</a>
    </li>
    <li class="navbar__navitem">
      <a class="navbar__navlink" href="/impacto.html">Impacto do projeto</a>
    </li>
    <li class="navbar__navitem">
      <a class="navbar__navlink" href="/trilha.html">Trilha formativa</a>
    </li>
    <li class="navbar__navitem">
      <a class="navbar__navlink" href="/escolas.html">Escolas participantes </a>
    </li>
    <li class="navbar__navitem">
      <a class="navbar__navlink" href="/experiencias.html">Experiências Seiva.Dados</a>
    </li>
    <li class="navbar__navitem">
      <a class="navbar__navlink" href="/quem.html">Quem faz a Seiva.Dados?</a>
    </li>
  </ul>
</nav>
