<nav class="navbar">
  <a href="/index.html">
    <div class="navbar__logo">
      <img
        src="/assets/imgs/logo-branca.png"
        alt="Logo Seiva.Dados na cor branca"
        class="logo"
      />
    </div>
  </a>
  <ul class="navbar__navlist">
    <li class="navbar__navitem">
      <a class="navbar__navlink" href="/index.html">O que é Seiva.Dados?</a>
    </li>
    <li class="navbar__navitem">
      <a class="navbar__navlink" href="/pages/impacto.html">Impacto do projeto</a>
    </li>
    <li class="navbar__navitem">
      <a class="navbar__navlink" href="/pages/trilha.html">Trilha formativa</a>
    </li>
    <li class="navbar__navitem">
      <a class="navbar__navlink" href="/pages/escolas.html">Escolas participantes </a>
    </li>
    <li class="navbar__navitem">
      <a class="navbar__navlink" href="/pages/experiencias.html"
        >Experiências Seiva.Dados</a
      >
    </li>
    <li class="navbar__navitem">
      <a class="navbar__navlink" href="/pages/quem.html">Quem faz a Seiva.Dados?</a>
    </li>
  </ul>
</nav>
