@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

// VARIABLES

$color-white: #ffffff;
$color-black: #000000;
$color-grey-md: #333;
$color-grey-light: #f0f0f0;
$color-green-accent: #00ff00;
$color-red-accent: #f41003;
$color-yellow-accent: #f4c803;
$color-purple-accent: #9801fe;
$color-orange-accent: #ff9900;
$color-purple-accent-dark: #3a0061;
$color-blue-accent-light: #69c8ff;
$color-pink-accent-light: #ff69b4;
$color-purple-accent-light: #dc69ff;
$color-salmon: #fe5757;
$color-green: #62dc76;
$color-aqua: #39b2b5;
$color-blue: #1e7bd6;
$color-aqua-dark: #00363a;
$color-green-dark: #003a08;
$color-blue-dark: #000e88;
$color-pink-dark: #88004f;
$color-red-dark: #880000;
$color-orange-dark: #883d00;

@mixin tag($color, $bg-color) {
  display: inline-block;
  color: $color;
  background-color: $bg-color;
  padding: 0.5rem 1rem;

  @media (max-width: 64em) {
    display: block;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 2rem;
    text-align: center;
  }
}

// RESET

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

// TYPO

@font-face {
  font-family: "Navigator Extended";
  src: url("/assets/fonts/Navigator-Extended.ttf") format("truetype");
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: "Navigator Extended", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1;
  margin-bottom: 4rem;
}

h1 {
  font-size: 5.4rem;

  @media (max-width: 64em) {
    font-size: 3.2rem;
  }
}

h2 {
  font-size: 3.6rem;

  @media (max-width: 64em) {
    font-size: 2.8rem;
  }
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.8rem;
}

h5 {
  font-size: 2.4rem;
}

h6 {
  font-size: 2rem;
}

p:not(:last-child) {
  margin-bottom: 2rem;
}

.bold {
  font-weight: 700;
}

.cidilha {
  position: relative;

  &::after {
    z-index: 0;
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-70%);
    width: 0.5rem;
    height: 0.5rem;
    background-color: $color-white;
  }
}

// LIGHTBOX

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.lightbox-img {
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.8);
}

.lightbox-close {
  position: fixed;
  top: 2rem;
  right: 2rem;
  font-size: 3rem;
  color: white;
  cursor: pointer;
  z-index: 100000;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
  justify-content: center;
  gap: 1rem;
}

.gallery img {
  cursor: pointer;
  max-width: 60rem;
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

// BASE STYLES

section {
  position: relative;
  padding: 10rem 2rem;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  & > * {
    z-index: 5;
    max-width: 130rem;
  }

  @media (max-width: 100em) {
    & > * {
      max-width: 80%;
    }
  }

  @media (max-width: 64em) {
    height: auto;
    padding: 4rem 3rem;

    & > * {
      max-width: 100%;
    }
  }
}

.list {
  list-style: none;

  &__item {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  &__icon {
    flex-shrink: 0;
    width: 3.5rem;
    height: 3.5rem;

    &--roxo {
      background: url("/assets/imgs/olho-roxo.png") no-repeat center/contain;
    }

    &--rosa {
      background: url("/assets/imgs/olho-rosa.png") no-repeat center/contain;
    }

    &--verde {
      background: url("/assets/imgs/olho-verde.png") no-repeat center/contain;
    }

    &--vermelho {
      background: url("/assets/imgs/olho-vermelho.png") no-repeat center/contain;
    }
  }
}

// LAYOUT

.column-2 {
  display: flex;
  gap: 6rem;

  @media (max-width: 64em) {
    flex-direction: column;
    gap: 4rem;
  }

  &--reverse {
    flex-direction: row-reverse;

    @media (max-width: 64em) {
      flex-direction: column-reverse;
    }
  }

  & > div {
    z-index: 2;
    max-width: 60%;

    @media (max-width: 64em) {
      max-width: 100%;
    }
  }
}

.bg-white {
  background: url("/assets/imgs/textura-verde.png");
}

.bg-purple {
  background: url("/assets/imgs/textura-roxo.png") no-repeat center/cover,
    $color-purple-accent;
  background-blend-mode: multiply;
}

.bg-blue {
  background: url("/assets/imgs/textura-verde.png") no-repeat center/cover, $color-blue;
  background-blend-mode: multiply;
}

.bg-aqua {
  background: url("/assets/imgs/textura-verde.png") no-repeat center/cover, $color-aqua;
  background-blend-mode: multiply;
}

.bg-yellow {
  background: url("/assets/imgs/textura-rosa.png") no-repeat center/cover,
    $color-yellow-accent;
  background-blend-mode: multiply;
}

.bg-orange {
  background: url("/assets/imgs/textura-rosa.png") no-repeat center/cover,
    $color-orange-accent;
  background-blend-mode: multiply;
}

.bg-pink {
  background: url("/assets/imgs/textura-rosa.png") no-repeat center/cover,
    $color-pink-accent-light;
  background-blend-mode: multiply;
}

.bg-salmon {
  background: url("/assets/imgs/textura-roxo.png") no-repeat center/cover, $color-salmon;
  background-blend-mode: multiply;
}

.bg-red {
  background: url("/assets/imgs/textura-roxo.png") no-repeat center/cover,
    $color-red-accent;
  background-blend-mode: multiply;
}

.bg-green {
  background: url("/assets/imgs/textura-verde.png") no-repeat center/cover, $color-green;
  background-blend-mode: multiply;
}

.comp {
  &::after {
    z-index: 0;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &::before {
    z-index: 0;
    content: "";
    display: block;
    position: absolute;
    top: 5rem;
    left: 1rem;
    width: 100%;
    height: 100%;
  }

  &.bg-purple,
  &.bg-blue,
  &.bg-aqua,
  &.bg-salmon,
  &.bg-red {
    &::before {
      background: url("/assets/imgs/pontinhos-verde.png") no-repeat center/cover;
    }
  }

  &.bg-yellow,
  &.bg-orange,
  &.bg-pink,
  &.bg-green {
    &::before {
      background: url("/assets/imgs/pontinhos-vermelho.png") no-repeat center/cover;
    }
  }

  &--1 {
    &::after {
      background: url("/assets/imgs/comp-1.png") no-repeat center/cover;

      @media (max-width: 64em) {
        background-position: 30%;
      }
    }

    &::before {
      background: url("/assets/imgs/pontinhos-vermelho.png") no-repeat center/cover;
    }
  }

  &--2 {
    &::after {
      background: url("/assets/imgs/comp-2.png") no-repeat center/cover;

      @media (max-width: 64em) {
        background-position: 70%;
      }
    }
  }

  &--reverse {
    &::after {
      transform: scaleX(-1);
    }
  }
}

.details {
  &::after {
    z-index: 0;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &::before {
    z-index: 1;
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: unset;
    right: -18%;
    transform: translateY(-50%) scale(-1);
    width: 80rem;
    height: 80rem;
    background: url("/assets/imgs/ondinhas-laranja.png") no-repeat center/cover;
  }

  &--red {
    &::after {
      background: url("/assets/imgs/moldura-2.png") no-repeat center/cover;

      @media (max-width: 64em) {
        background-position: 10%;
      }
    }
  }

  &--purple {
    &::after {
      background: url("/assets/imgs/moldura-1.png") no-repeat center/cover;

      @media (max-width: 64em) {
        background-position: 10%;
      }
    }
  }

  &--reverse {
    &::after {
      transform: scaleX(-1);

      @media (max-width: 64em) {
        background-position: 90%;
      }
    }

    &::before {
      right: unset;
      left: -18%;
      transform: translateY(-50%);
    }
  }
}

.blobs {
  &::after {
    z-index: 0;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &--top {
    &::after {
      top: 0;
      left: 0;
      background: url("/assets/imgs/moldura-4.png") no-repeat top left/contain;
    }
  }

  &--bottom {
    &::after {
      bottom: 0;
      right: 0;
      background: url("/assets/imgs/moldura-5.png") no-repeat bottom right/contain;
    }
  }

  &--reverse {
    &::after {
      transform: scaleX(-1);
    }
  }
}

.barco,
.algas,
.olhos {
  z-index: 1;
  position: absolute;
  bottom: -12rem;

  @media (max-width: 64em) {
    bottom: -8rem;
  }

  &--right {
    left: unset;
    right: -2rem;

    @media (max-width: 100em) {
      right: -4rem;
    }
  }

  &--left {
    left: -2rem;
    right: unset;

    @media (max-width: 100em) {
      left: -4rem;
    }
  }
}

.barco {
  width: 50rem;

  &--right {
    transform: rotate(0);
  }

  &--left {
    transform: rotate(25deg);
  }

  @media (max-width: 100em) {
    width: 35rem;
  }

  @media (max-width: 64em) {
    width: 20rem;
  }
}

.algas {
  width: 60rem;

  &--right {
    transform: rotate(10deg);
  }

  &--left {
    transform: rotate(-10deg) scaleX(-1);
  }

  @media (max-width: 100em) {
    width: 45rem;
  }
}

.olhos {
  width: 30rem;
  bottom: 0;

  &--right {
    transform: rotate(0);
  }

  &--left {
    transform: rotate(-15deg) scaleX(-1);
  }

  @media (max-width: 100em) {
    width: 20rem;
  }
}

// HEADER & NAVBAR

.header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4rem 6rem;

  @media (max-width: 64em) {
    padding: 0 2rem;
  }
}

.navbar {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-white;
  box-shadow: 0 1rem 2rem rgba($color-blue-dark, 0.5);

  @media (max-width: 64em) {
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }

  &__logo {
    width: 25rem;
    position: relative;
    display: block;
    transform: translateY(3rem) rotate(20deg);
    transition: transform 0.3s ease;

    @media (max-width: 64em) {
      transform: none;
    }

    &:has(img:hover) {
      transform: rotate(0deg);

      @media (max-width: 64em) {
        transform: none;
      }
    }

    &::after {
      z-index: 0;
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-45%, -30%);
      width: 330%;
      height: 330%;
      background: url("/assets/imgs/barco-azul.png") no-repeat center/contain;

      @media (max-width: 64em) {
        transform: translate(-44%, -29%);
      }
    }

    .logo {
      z-index: 1;
      position: relative;
      display: block;
      width: 10rem;
      transform: rotate(-12deg);

      @media (max-width: 100em) {
        width: 8rem;
      }

      @media (max-width: 64em) {
        width: 10rem;
      }
    }
  }

  &__navlist {
    list-style: none;
    display: flex;
    gap: 1rem;

    @media (max-width: 100em) {
      gap: 0.5rem;
    }

    @media (max-width: 64em) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      flex-direction: column;
      gap: 2rem;
      text-align: center;
      justify-content: center;
      align-items: center;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    &:has(+ .active) {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }

  &__navitem {
    position: relative;

    &.navbar__experiencias {
      &:hover {
        .menu-experiencias {
          visibility: visible;
          opacity: 1;
          pointer-events: all;
        }
      }
    }
  }

  &__navlink:visited,
  &__navlink:link {
    display: inline-block;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    color: $color-blue-dark;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    line-height: 1.2;
    padding: 0.5rem 1rem;
    border: 3px solid transparent;
    transition: all 0.2s ease;

    &:hover {
      color: $color-white;
      background-color: $color-blue;
      border: 3px solid $color-blue;
      border-bottom-color: $color-blue-dark;
    }

    @media (max-width: 100em) {
      font-size: 1.3rem;
      padding: 0.5rem;
    }

    @media (max-width: 64em) {
      font-size: 1.8rem;
      padding: 0.5rem 1rem;
    }
  }

  &__menu {
    flex-shrink: 0;
    display: none;
    position: relative;
    width: 7rem;
    height: 7rem;
    background-color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-blue-dark, 0.5);
    outline: none;
    border: none;
    transition: box-shadow 0.3s ease;

    @media (max-width: 64em) {
      display: block;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      background-color: $color-white;
      width: 100%;
      height: 100%;
      z-index: -1;
      transition: all 0.3s ease;
    }

    &.active {
      box-shadow: none;

      &::after {
        transform: scale(50);
      }

      span {
        &:nth-of-type(1) {
          top: 3.5rem;
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &:nth-of-type(2) {
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &:nth-of-type(3) {
          top: 3.5rem;
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }

    span {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 4rem;
      height: 0.6rem;
      background-color: $color-blue;
      transition: transform 0.2s ease;

      &:nth-of-type(1) {
        top: 2rem;
      }
      &:nth-of-type(2) {
        top: 3.5rem;
      }
      &:nth-of-type(3) {
        top: 5rem;
      }
    }
  }
}

.menu-experiencias {
  position: absolute;
  bottom: 100%;
  left: 0;
  transform: translateY(calc(100% + 3.4rem));
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.2s ease;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    background-color: $color-blue-dark;
  }

  &__list-item {
    list-style: none;
  }

  &__list-link {
    display: block;
    padding: 1rem 1.5rem;
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.2s ease;

    &:visited,
    &:link {
      color: $color-white;
    }

    &:hover {
      background-color: $color-blue;
    }
  }

  @media (max-width: 90em) {
    transform: translateY(calc(100% + 4.7rem));
  }

  @media (max-width: 64em) {
    display: none;
  }
}

// FOOTER

#footer {
  position: relative;
  width: 100%;
  padding: 2rem;
  background: url("/assets/imgs/textura-rosa.png");
  box-shadow: 0 -1rem 4rem rgba($color-pink-dark, 0.5);

  @media (max-width: 48em) {
    padding: 1rem;
  }

  .regua-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;

    @media (max-width: 48em) {
      gap: 1rem;
    }

    &__logo {
      display: block;

      img {
        max-height: 10rem;
        height: 6rem;

        @media (max-width: 48em) {
          height: 2.5rem;
        }
      }

      &:nth-child(1) img {
        height: 9rem;

        @media (max-width: 48em) {
          height: 4rem;
        }
      }

      &:nth-of-type(4) img {
        height: 4rem;

        @media (max-width: 48em) {
          height: 2rem;
        }
      }

      &:nth-of-type(5) img {
        height: 6rem;

        @media (max-width: 48em) {
          height: 3rem;
        }
      }
    }
  }
}

// PÁGINA SOBRE

#sobre {
  .hero {
    background: url("/assets/imgs/bg-fundo-vermelho.png") no-repeat center;
    background-size: cover;

    @media (max-width: 64em) {
      height: 60rem;
      background-position: 70%;
    }

    &__content {
      max-width: 60rem;

      @media (max-width: 100em) {
        max-width: 50rem;
      }

      @media (max-width: 27em) {
        max-width: 25rem;
      }
    }

    &__heading {
      width: 100%;
      margin-bottom: 2rem;
      background: url("/assets/imgs/logo-verde.png") no-repeat center/cover;
      -webkit-text-fill-color: transparent;

      @media (max-width: 100em) {
        margin-bottom: 1rem;
      }
    }

    &__subheading {
      display: block;
      width: fit-content;
      margin: 0 auto 0.5rem;
      padding: 0.5rem 1rem;
      font-family: "Navigator Extended", sans-serif;
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 1.2;
      text-align: center;
      color: $color-purple-accent-dark;
      text-transform: uppercase;
      letter-spacing: 2px;
      background-color: $color-green-accent;

      @media (max-width: 100em) {
        font-size: 2rem;
      }
    }
  }

  .projeto {
    &__content {
      position: relative;
    }

    &__heading {
      @include tag($color-green-accent, $color-purple-accent);
    }

    &__text {
      color: $color-grey-md;

      .bold {
        color: $color-purple-accent;
      }
    }

    &__img-wrapper {
      -webkit-mask-image: url("/assets/imgs/img-clip-5.png");
      -webkit-mask-size: 100% 150%;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
      transform: scale(-1);
    }

    &__img {
      width: 100%;
      transform: rotate(180deg);
    }
  }

  .objetivo {
    &__content {
      position: relative;
      z-index: 2;
    }

    &__heading {
      @include tag($color-white, $color-orange-accent);
    }

    &__text {
      color: $color-white;
    }

    &__box {
      max-width: 40rem;
      padding: 4rem;
      background-color: $color-purple-accent;

      .list__item {
        color: $color-green-accent;
        font-weight: 500;
        line-height: 1.1;
      }

      @media (max-width: 64em) {
        // max-width: 100%;
        margin: 0 auto;
      }
    }

    &__box-text {
      color: $color-white;
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 1.2;
      text-align: center;
      margin-bottom: 4rem;
    }
  }

  .implementacao {
    &__heading {
      @include tag($color-white, $color-red-accent);
    }

    &__img {
      width: 100%;
      width: 60rem;

      @media (max-width: 64em) {
        width: 100%;
      }
    }

    &__img-caption {
      text-align: right;
      font-size: 1.4rem;

      color: $color-black;
    }

    &__text {
      color: $color-black;
    }
  }
}

#impacto {
  .hero {
    @media (max-width: 100em) {
      height: auto;
    }
  }

  .hero__content {
    text-align: center;

    @media (max-width: 100em) {
      padding-top: 12rem !important;
    }
  }

  .heading {
    @include tag($color-white, $color-blue-dark);

    border-bottom: 4px solid $color-pink-accent-light;
    margin: 0 auto 10rem;
  }

  .boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    row-gap: 8rem;
    justify-content: center;

    @media (max-width: 64em) {
      row-gap: 5rem;
    }
  }

  .box {
    width: 100%;
    max-width: 25rem;
    padding: 2rem;

    &__content {
      position: relative;
    }

    &__icon {
      width: 8rem;
      height: 8rem;
      position: absolute;
      top: -50%;
      left: 50%;
      transform: translateX(-50%);
    }

    &__number {
      padding-top: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      &--icon {
        width: 3rem;
      }

      &--text {
        font-family: "Navigator Extended", sans-serif;
        font-size: 4rem;
        font-weight: 600;
        margin: 0;
        width: fit-content;
      }
    }

    &__text {
      line-height: 1.2;
      margin: 0;

      @media (max-width: 100em) {
        font-size: 1.4rem;
      }
    }

    &:nth-child(1),
    &:nth-child(7) {
      background-color: $color-salmon;

      .box__icon {
        background: url("/assets/imgs/olho-vermelho.png") no-repeat center/contain;
      }
    }

    &:nth-child(2),
    &:nth-child(8) {
      background-color: $color-purple-accent-light;

      .box__icon {
        background: url("/assets/imgs/olho-roxo.png") no-repeat center/contain;
      }
    }

    &:nth-child(3),
    &:nth-child(5) {
      background-color: $color-pink-accent-light;

      .box__icon {
        background: url("/assets/imgs/olho-rosa.png") no-repeat center/contain;
      }
    }

    &:nth-child(4),
    &:nth-child(6) {
      background-color: $color-green;

      .box__icon {
        background: url("/assets/imgs/olho-verde.png") no-repeat center/contain;
      }
    }

    @media (max-width: 100em) {
      max-width: 30rem;
    }
  }

  .nuvem {
    &__content {
      width: 100%;
      text-align: center;
    }

    &__heading {
      @include tag($color-white, $color-red-accent);
    }

    &__text {
      margin-bottom: 8rem;
      color: $color-white;
      font-size: 2rem;
    }

    .wordcloud {
      width: 100%;
      height: 40rem;
    }
  }
}

#trilha {
  .hero {
    height: auto;

    &__content {
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (max-width: 100em) {
        padding-top: 12rem !important;
      }
    }

    .heading {
      @include tag($color-white, $color-purple-accent-dark);

      border-bottom: 4px solid $color-salmon;
    }

    .column-2 > div {
      @media (max-width: 64em) {
        display: none;
      }

      position: relative;

      .hero__img-wrapper {
        -webkit-mask-size: 100%;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
      }

      &:nth-of-type(1) {
        .hero__title:visited,
        .hero__title:link {
          @include tag($color-white, $color-purple-accent);
        }

        .hero__img-wrapper {
          -webkit-mask-image: url("/assets/imgs/img-clip-1.png");
        }

        img {
          transform: scale(0.95) translate(3rem, -1rem);
        }
      }

      &:nth-of-type(2) {
        .hero__title:visited,
        .hero__title:link {
          @include tag($color-blue-dark, $color-orange-accent);
        }

        .hero__img-wrapper {
          -webkit-mask-image: url("/assets/imgs/img-clip-3.png");
          -webkit-mask-size: 120%;
        }

        img {
          transform: scale(1.15) translateY(5rem);
        }
      }
    }

    &__img {
      width: 100%;
    }

    &__title {
      cursor: pointer;
      position: absolute;
      bottom: 8rem;
      left: 50%;
      transform: translateX(-50%);
      font-family: "Navigator Extended", sans-serif;
      font-size: 2rem;
      text-decoration: none;
      transition: all 0.2s ease;

      &:hover {
        transform: translateX(-50%) scale(1.2);
      }
    }
  }

  .estudantes {
    height: auto;

    &__heading {
      @include tag($color-white, $color-red-accent);
    }

    &__text {
      color: $color-white;

      &--highlight {
        font-family: "Navigator Extended", sans-serif;
        font-weight: 500;
        font-size: 3rem;
        line-height: 1.2;
        float: left;
        width: 35rem;
        margin-right: 3rem;
        padding: 3rem;
        color: $color-purple-accent;
        background-color: $color-green-accent;

        @media (max-width: 48em) {
          float: none;
          display: block;
          width: 100%;
          margin-right: 0;
          margin-top: 2rem;
          margin-bottom: 2rem;
        }
      }

      .bold {
        font-weight: 800;
        color: $color-yellow-accent;
      }
    }
  }

  .professores {
    height: auto;

    &__content {
      padding-bottom: 15rem;

      @media (max-width: 100em) {
        padding-bottom: 3rem;
      }
    }

    &__heading {
      @include tag($color-white, $color-blue);
    }

    &__text {
      color: $color-black;

      &--highlight {
        margin-top: -2rem;
        font-family: "Navigator Extended", sans-serif;
        font-weight: 500;
        font-size: 3rem;
        line-height: 1.2;
        float: right;
        width: 52rem;
        margin-top: 2rem;
        margin-left: 3rem;
        text-align: right;
        padding: 3rem;
        color: $color-orange-accent;
        background-color: $color-blue-dark;

        .cidilha::after {
          background-color: $color-orange-accent;
        }

        @media (max-width: 48em) {
          float: none;
          display: block;
          width: 100%;
          margin-left: 0;
          margin-top: 2rem;
          margin-bottom: 2rem;
        }
      }

      .bold {
        font-weight: 800;
        color: $color-pink-dark;
      }
    }
  }
}

#escolas {
  .hero {
    height: auto;

    &__content {
      width: 100%;
      text-align: center;

      @media (max-width: 100em) {
        padding-top: 12rem !important;
      }
    }

    &__heading {
      @include tag($color-white, $color-pink-dark);

      border-bottom: 4px solid $color-yellow-accent;
    }

    &__text {
      max-width: 65%;
      margin: 0 auto 4rem;
      color: $color-white;

      @media (max-width: 100em) {
        max-width: 100%;
      }
    }

    .boxes {
      width: 100%;
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
      justify-content: center;
    }

    .box {
      max-width: 40rem;
      display: flex;

      &__content {
        width: 100%;
        padding: 2rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        height: 100%;
        transition: background-color 0.2s ease;
      }

      &__img {
        width: 100%;
        height: 20rem;
        background-size: cover;
        background-position: center;
      }

      &__name {
        font-family: "Navigator Extended", sans-serif;
        font-size: 2.2rem;
        line-height: 1.2;
        margin: 2rem 0;
      }

      &__text {
        p {
          line-height: 1.2;

          &:not(:last-child) {
            margin-bottom: 1rem;
          }
        }
      }

      &__btn {
        &:visited,
        &:link {
          width: 100%;
          padding: 1rem;
          display: block;
          margin-top: auto;
          text-decoration: none;
          line-height: 1.2;
          text-align: center;
          color: $color-white;
          background-color: $color-pink-dark;
          transition: all 0.3s ease;
        }

        &:hover {
          background-color: $color-blue !important;
        }
      }

      &:nth-of-type(1) {
        .box {
          &__content {
            background-color: $color-salmon;
          }

          &__btn {
            background-color: $color-red-dark;
          }

          &__img {
            background-image: url("/assets/imgs/escola-jairo.png");
          }
        }
      }

      &:nth-of-type(2) {
        .box {
          &__content {
            background-color: $color-green;
          }

          &__btn {
            background-color: $color-green-dark;
          }

          &__img {
            background-image: url("/assets/imgs/escola-manuel.png");
          }
        }
      }

      &:nth-of-type(3) {
        .box {
          &__content {
            background-color: $color-purple-accent-light;
          }

          &__btn {
            background-color: $color-purple-accent-dark;
          }

          &__img {
            background-image: url("/assets/imgs/escola-nathalia.png");
          }
        }
      }

      &:nth-of-type(4) {
        .box {
          &__content {
            background-color: $color-pink-accent-light;
          }

          &__btn {
            background-color: $color-pink-dark;
          }

          &__img {
            background-image: url("/assets/imgs/escola-roberto.png");
          }
        }
      }

      &:nth-of-type(5) {
        .box {
          &__content {
            background-color: $color-blue-accent-light;
          }

          &__btn {
            background-color: $color-blue-dark;
          }

          &__img {
            background-image: url("/assets/imgs/escola-ruy.png");
          }
        }
      }
    }
  }
}

#experiencias {
  .hero {
    height: auto;

    &__content {
      width: 100%;
      text-align: center;

      @media (max-width: 100em) {
        padding-top: 12rem !important;
      }
    }

    &__heading {
      @include tag($color-white, $color-blue);

      border-bottom: 4px solid $color-pink-accent-light;
    }

    &__text {
      color: $color-black;
      font-size: 2rem;
      margin-bottom: 8rem;
    }

    .boxes {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;

      @media (max-width: 48em) {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    .boxes--col-2 {
      display: grid;
      grid-template-rows: auto auto;
      row-gap: 2rem;

      .box {
        &:nth-of-type(1) {
          background: $color-green;

          .box__btn {
            &:visited,
            &:link {
              color: $color-white;
              background-color: $color-green-dark;
            }
          }

          &::before {
            background: url("/assets/imgs/olho-verde.png") no-repeat center/contain;
            right: 0;
            left: unset;
            transform: translate(20%, -20%);
          }
        }

        &:nth-of-type(2) {
          background: $color-blue-accent-light;

          .box__btn {
            &:visited,
            &:link {
              color: $color-white;
              background-color: $color-blue-dark;
            }
          }

          &::before {
            background: url("/assets/imgs/olho-azul.png") no-repeat center/contain;
            right: 0;
            left: unset;
            transform: translate(20%, -20%);

            @media (max-width: 48em) {
              right: unset;
              left: 0;
              transform: translate(-20%, -20%);
            }
          }
        }
      }
    }

    .box {
      position: relative;
      padding: 2rem;
      transition: all 0.3s ease;

      &:nth-of-type(1) {
        background: $color-purple-accent-light;

        .box__btn {
          &:visited,
          &:link {
            color: $color-white;
            background-color: $color-purple-accent-dark;
          }
        }

        &::before {
          background: url("/assets/imgs/olho-roxo.png") no-repeat center/contain;
          left: 0;
          transform: translate(-20%, -20%);
        }
      }

      &:nth-of-type(2) {
        background: $color-pink-accent-light;

        .box__btn {
          &:visited,
          &:link {
            color: $color-white;
            background-color: $color-pink-dark;
          }
        }

        &::before {
          background: url("/assets/imgs/olho-rosa.png") no-repeat center/contain;
          right: 0;
          transform: translate(20%, -20%);
        }
      }

      &:nth-of-type(3) {
        background: $color-salmon;

        .box__btn {
          &:visited,
          &:link {
            color: $color-white;
            background-color: $color-red-dark;
          }
        }

        &::before {
          background: url("/assets/imgs/olho-vermelho.png") no-repeat center/contain;
          left: 0;
          transform: translate(-20%, -20%);
        }
      }

      &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      &__name {
        font-family: "Navigator Extended", sans-serif;
        margin-bottom: 3rem;
        font-size: 2.4rem;
        line-height: 1.2;
      }

      &__btns {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
      }

      &__btn {
        display: block;
        padding: 1rem 2rem;
        width: 100%;
        font-weight: 500;

        &:visited,
        &:link {
          text-decoration: none;
          transition: all 0.3s ease;
        }

        &:hover {
          color: $color-black !important;
          background-color: $color-orange-accent !important;
        }
      }

      &::before {
        content: "";
        display: block;
        width: 6rem;
        height: 6rem;
        position: absolute;
        top: 0;
      }
    }
  }
}

#experiencias-escola {
  .hero {
    height: auto;

    &__content {
      width: 100%;
      text-align: center;

      @media (max-width: 100em) {
        padding-top: 12rem !important;
      }
    }

    &__heading {
      @include tag($color-white, $color-blue-dark);

      border-bottom: 4px solid $color-green-accent;
    }

    &__text {
      color: $color-white;
    }
  }

  .boxes {
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .box {
    flex: 1;
    max-width: 60rem;
    width: 100%;
    display: flex;

    @media (max-width: 64em) {
      flex: none;
      max-width: 35rem;
    }

    &__link {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;

      &:visited,
      &:link {
        text-decoration: none;
        color: $color-black;

        .cidilha {
          &::after {
            background-color: $color-black;
            width: 0.4rem;
          }
        }
      }

      &:hover {
        .box__content {
          background-color: $color-yellow-accent !important;
        }
      }
    }

    &__btn {
      &:visited,
      &:link {
        width: 100%;
        padding: 1rem;
        display: block;
        margin-top: auto;
        text-decoration: none;
        line-height: 1.2;
        text-align: center;
        color: $color-white;
        transition: all 0.3s ease;
      }

      &:hover {
        background-color: $color-salmon !important;
      }
    }

    &__content {
      width: 100%;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      height: 100%;
      transition: background-color 0.2s ease;
    }

    &__img {
      width: 100%;
      height: 20rem;
      background-size: cover;
      background-position: center;
    }

    &__name {
      font-family: "Navigator Extended", sans-serif;
      font-size: 2.2rem;
      line-height: 1.2;
      margin: 2rem 0;

      .cidilha {
        &::after {
          background-color: $color-black;
          width: 0.3rem;
        }
      }
    }

    &__text {
      p {
        line-height: 1.2;

        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }

      margin-bottom: 3rem;
    }

    &:nth-of-type(1) {
      .box {
        &__content {
          background-color: $color-green;
        }

        &__btn {
          background-color: $color-green-dark;
        }
      }
    }

    &:nth-of-type(2) {
      .box {
        &__content {
          background-color: $color-blue-accent-light;
        }

        &__btn {
          background-color: $color-blue-dark;
        }
      }
    }

    &:nth-of-type(3) {
      .box {
        &__content {
          background-color: $color-purple-accent-light;
        }

        &__btn {
          background-color: $color-purple-accent-dark;
        }
      }
    }

    &:nth-of-type(4) {
      .box {
        &__content {
          background-color: $color-aqua;
        }

        &__btn {
          background-color: $color-aqua-dark;
        }
      }
    }
  }

  &.nathalia {
    .box {
      &:nth-of-type(1) {
        .box {
          &__img {
            background-image: url("/assets/praticas/nathalia-uchoa/o-desafio-1.png");
          }
        }
      }

      &:nth-of-type(2) {
        .box {
          &__img {
            background-image: url("/assets/praticas/nathalia-uchoa/seguranca-1.jpeg");
            background-size: 120%;
            background-position: 100% 20%;
          }
        }
      }

      &:nth-of-type(3) {
        .box {
          &__img {
            background-image: url("/assets/praticas/nathalia-uchoa/starsgirls-1.png");
          }
        }
      }

      &:nth-of-type(4) {
        .box {
          &__img {
            background-image: url("/assets/praticas/nathalia-uchoa/winters-1.jpg");
            background-size: 110%;
            background-position: 100% 20%;
          }
        }
      }
    }
  }

  &.roberto {
    .box {
      &:nth-of-type(1) {
        .box {
          &__img {
            background-image: url("/assets/praticas/roberto-dos-santos-vieira/falta-2.jpg");
          }
        }
      }

      &:nth-of-type(2) {
        .box {
          &__img {
            background-image: url("/assets/praticas/roberto-dos-santos-vieira/quimera-1.png");
          }
        }
      }

      &:nth-of-type(3) {
        .box {
          &__img {
            background-image: url("/assets/praticas/roberto-dos-santos-vieira/twice-3.jpg");
          }
        }
      }

      &:nth-of-type(4) {
        .box {
          &__img {
            background-image: url("/assets/praticas/roberto-dos-santos-vieira/uni4-1.jpg");
          }
        }
      }
    }
  }

  &.jairo {
    .box {
      &:nth-of-type(1) {
        .box {
          &__img {
            background-image: url("/assets/praticas/jairo-da-silva-rocha/5-elementos-2.jpg");
          }
        }
      }

      &:nth-of-type(2) {
        .box {
          &__img {
            background-image: url("/assets/praticas/jairo-da-silva-rocha/QUESTION-TAGS-1.jpeg");
          }
        }
      }

      &:nth-of-type(3) {
        .box {
          &__img {
            background-image: url("/assets/praticas/jairo-da-silva-rocha/vozes-3.png");
          }
        }
      }
    }
  }

  &.manuel {
    .box {
      &:nth-of-type(1) {
        .box {
          &__img {
            background-image: url("/assets/praticas/manuel-rodrigues-de-souza/as-supermendes-1.jpg");
          }
        }
      }

      &:nth-of-type(2) {
        .box {
          &__img {
            background-image: url("/assets/praticas/manuel-rodrigues-de-souza/infraestrutura-3.jpg");
          }
        }
      }
    }
  }

  &.ruy {
    .box {
      &:nth-of-type(1) {
        .box {
          &__img {
            background-image: url("/assets/praticas/ruy-alencar/parada-2.png");
          }
        }
      }
    }
  }
}

#quem {
  .blobs::after,
  .details::after,
  .details::before {
    @media (max-width: 64em) {
      display: none;
    }
  }

  section:not(.hero, .conclusao) {
    height: 70vh;
    @media (max-width: 64em) {
      height: auto;
    }
  }

  .column-2 {
    gap: 15rem;

    @media (max-width: 64em) {
      flex-direction: column-reverse;
      gap: 1rem;
    }
  }

  h2 {
    margin-bottom: 0;

    @media (max-width: 100em) {
      font-size: 3rem;
    }
  }

  .general {
    &__text {
      position: relative;
      margin-top: 4rem;
    }

    &__logo {
      margin: auto;
      z-index: 1;

      &--wrapper {
        position: relative;

        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          filter: brightness(10);
          z-index: -1;
        }
      }

      &--img {
        width: 100%;
        max-width: 50rem;
        max-height: 40rem;

        @media (max-width: 64em) {
          max-width: 30rem;
        }
      }
    }
  }

  .hero {
    .algas,
    .olhos,
    .barco {
      @media (max-width: 64em) {
        display: none;
      }
    }

    @media (max-width: 64em) {
      padding-top: 10rem;
    }

    &__content {
      max-width: 60rem;

      @media (max-width: 100em) {
        max-width: 50rem;
      }
    }

    &__heading {
      width: 80%;
      margin: 0 auto;
      background: url("/assets/imgs/logo-verde.png") no-repeat center/cover;
      -webkit-text-fill-color: transparent;
    }

    &__text {
      color: $color-white;
      text-align: center;

      .bold {
        font-weight: 800;
        color: $color-green-accent;
      }

      @media (max-width: 100em) {
        font-size: 1.6rem;
        margin-left: -5rem;
        margin-right: -5rem;
      }

      @media (max-width: 48em) {
        font-size: 1.8rem;
        margin: 0;
      }
    }
  }

  .unicef {
    &__content {
      .general__logo--wrapper {
        &::after {
          background: url("/assets/imgs/img-clip-3.png") no-repeat center/contain;
          transform: scale(1.8);
        }
      }
    }

    &__heading {
      @include tag($color-white, $color-blue-dark);
    }

    &__text {
      color: $color-white;

      .bold {
        color: $color-blue-dark;
      }
    }
  }

  .sincroniza {
    &__content {
      .general__logo--wrapper {
        &::after {
          background: url("/assets/imgs/img-clip-5.png") no-repeat center/contain;
          transform: scale(4) translateX(2rem);
        }
      }
    }

    &__heading {
      @include tag($color-white, $color-aqua-dark);
    }

    &__text {
      color: $color-white;

      .bold {
        color: $color-aqua-dark;
      }
    }
  }

  .icp {
    &__content {
      .general__logo--wrapper {
        &::after {
          background: url("/assets/imgs/img-clip-2.png") no-repeat center/contain;
          transform: scale(4);
        }
      }
    }

    &__heading {
      @include tag($color-white, $color-pink-dark);
    }

    &__text {
      color: $color-black;

      .bold {
        color: $color-pink-dark;
      }
    }
  }

  .gedutec {
    &__content {
      .general__logo--wrapper {
        &::after {
          background: url("/assets/imgs/img-clip-2.png") no-repeat center/contain;
          transform: scale(5);
          filter: grayscale(1) opacity(0.15);
        }
      }
    }

    &__heading {
      @include tag($color-white, $color-grey-md);
    }

    &__text {
      color: $color-grey-md;

      .bold {
        color: $color-black;
      }
    }
  }

  .nascente {
    &__content {
      .general__logo--wrapper {
        &::after {
          background: url("/assets/imgs/img-clip-4.png") no-repeat center/contain;
          transform: scale(3) translateX(-1rem);
        }
      }
    }

    &__heading {
      @include tag($color-white, $color-orange-dark);
    }

    &__text {
      color: $color-black;

      .bold {
        color: $color-orange-dark;
      }
    }
  }

  .conclusao {
    text-align: center;

    @media (max-width: 64em) {
      padding: 6rem 3rem;
    }

    &__content {
      max-width: 60rem;
    }

    .heading {
      font-size: 6rem;

      @include tag($color-blue-dark, $color-green-accent);

      @media (max-width: 64em) {
        font-size: 4rem;
      }
    }

    &__text {
      color: $color-white;
      font-size: 2.2rem;

      @media (max-width: 64em) {
        font-size: 1.8rem;
        line-height: 1.3;
      }
    }
  }
}

#pratica {
  .hero {
    height: auto;

    &__content {
      width: 100%;
      text-align: center;

      @media (max-width: 100em) {
        padding-top: 12rem !important;
      }
    }
  }

  .details {
    &::after {
      background: url("/assets/imgs/moldura-1-seamless.png") repeat center/contain;
    }

    &::before {
      top: 0;
      background: url("/assets/imgs/ondinhas-laranja.png") repeat center/cover;
      transform: scale(-1);
    }
  }

  .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nome-escola {
    display: inline-block;
    font-family: "Navigator Extended", sans-serif;
    font-size: 2rem;
    text-decoration: none;
    margin-bottom: 2rem;
    padding: 0.5rem 2rem;
    transition: all 0.2s ease;

    &:visited,
    &:link {
      color: $color-orange-accent;
    }

    &:hover {
      color: $color-blue-dark;
      background-color: orange;
    }
  }

  .tag {
    font-family: "Navigator Extended", sans-serif;
    color: $color-black;
    font-size: 2.8rem;
  }

  .nome {
    @include tag($color-purple-accent-dark, $color-green-accent);
    margin-bottom: 1rem;

    .cidilha {
      &::after {
        background-color: $color-purple-accent-dark;
        height: 1.5rem;
      }
    }
  }

  .subnome {
    color: $color-purple-accent-dark;

    .cidilha {
      &::after {
        background-color: $color-purple-accent-dark;
        height: 0.8rem;
      }
    }
  }

  .informacoes-gerais {
    margin: 0 auto;
    display: flex;
    gap: 5rem;
    justify-content: center;
    margin-bottom: 8dvb;

    .integrantes {
      max-width: 50rem;

      @media (max-width: 48em) {
        max-width: 100%;
      }
    }

    @media (max-width: 48em) {
      flex-direction: column;
      gap: 2rem;
    }
  }

  .conteudo-principal {
    display: grid;
    gap: 6rem;

    @media (max-width: 64em) {
      gap: 2rem;
    }

    @media (max-width: 48em) {
      grid-template-columns: repeat(1, 1fr) !important;
    }

    & > div {
      @media (max-width: 48em) {
        grid-column: 1/-1 !important;
      }
    }

    & > div:not(.galeria) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .tag + div {
        padding: 3rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (max-width: 27em) {
          padding: 2rem;
        }
      }
    }

    .tag {
      display: block;
      width: 100%;
      padding: 1rem 3rem;
      line-height: 1;
      color: $color-white;

      @media (max-width: 27em) {
        padding: 1rem;
      }
    }
  }

  .motivacao {
    background-color: $color-aqua;

    .tag {
      background-color: $color-orange-dark;
    }
  }

  .o-que-foi-desenvolvido {
    background-color: $color-purple-accent-light;

    .tag {
      background-color: $color-blue-dark;
    }
  }

  .relevancia {
    background-color: $color-salmon;

    .tag {
      background-color: $color-purple-accent-dark;
    }
  }

  .aprendizados {
    background-color: $color-blue-accent-light;

    .tag {
      background-color: $color-pink-dark;
    }
  }

  .desafios {
    background-color: $color-yellow-accent;

    .tag {
      background-color: $color-red-accent;
    }
  }

  .funcionamento-e-melhorias {
    background-color: $color-green;

    .tag {
      background-color: $color-aqua-dark;
    }
  }

  .pdf {
    grid-column: 1 / -1;
    padding: 0 !important;

    .tag {
      background-color: $color-orange-dark;
    }
  }

  .iframe {
    width: 100%;
    height: 60rem;
    border: 2px solid $color-grey-md;

    @media (max-width: 48em) {
      height: 40rem;
    }
  }

  .galeria {
    grid-column: 1 / -1;
    padding: 0 !important;

    .tag {
      background-color: $color-purple-accent-dark;
      margin-bottom: 1rem;

      .cidilha {
        &::after {
          height: 0.5rem;
        }
      }
    }
  }

  &.cinco-elementos {
    .conteudo-principal {
      grid-template-columns: repeat(6, 1fr);

      &.boxes--col-2 {
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
      }
    }

    .boxes--col-2 {
      grid-template-rows: repeat(2, 1fr) !important;
      grid-column: 4/-1;
    }

    .motivacao {
      grid-column: 1/-1;
    }

    .o-que-foi-desenvolvido {
      grid-column: 1/4;
    }

    .relevancia {
      grid-column: 4/-1;
    }

    .aprendizados {
      grid-column: 1/4;
    }
  }

  &.question-tags {
    .conteudo-principal {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, auto);

      & > div {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .o-que-foi-desenvolvido {
      grid-row: 1/-1;

      .tag + div {
        display: block !important;
        text-align: left;
      }
    }

    .pdf {
      .tag {
        margin-bottom: 3rem;
      }

      div {
        width: 100%;
        flex-direction: row !important;
        flex-wrap: wrap;
        gap: 3rem;
        padding: 0 !important;
      }

      .iframe {
        height: 40rem;
        flex: 1;
      }
    }
  }

  &.vozes-comunidade {
    .conteudo-principal {
      grid-template-columns: repeat(6, 1fr);

      &.boxes--col-2 {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    .boxes--col-2 {
      display: grid !important;
      grid-template-rows: repeat(2, auto) !important;
      row-gap: 4rem;
      grid-column: 1/4;
    }

    .relevancia {
      grid-column: 4/-1;
    }

    .aprendizados {
      grid-column: 1/3;
    }

    .desafios {
      grid-column: 3/5;
    }

    .funcionamento-e-melhorias {
      grid-column: 5/-1;
    }
  }

  &.supermendes,
  &.infraestrutura {
    .conteudo-principal {
      grid-template-columns: repeat(6, 1fr);
    }

    .motivacao {
      grid-column: 1/4;
    }

    .o-que-foi-desenvolvido {
      grid-column: 4/-1;
    }

    .relevancia {
      grid-column: 1/5;
    }

    .aprendizados {
      grid-column: 5/-1;
    }

    .desafios {
      grid-column: 1/3;
    }

    .funcionamento-e-melhorias {
      grid-column: 3/-1;
    }
  }

  &.desafio,
  &.starsgirls,
  &.twice {
    .conteudo-principal {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &.seguranca {
    .conteudo-principal {
      grid-template-columns: repeat(3, 1fr);
    }

    .o-que-foi-desenvolvido {
      grid-column: 1/-1;
    }
  }

  &.winters {
    .conteudo-principal {
      grid-template-columns: repeat(6, 1fr);
    }

    .motivacao {
      grid-column: 1/3;
    }

    .o-que-foi-desenvolvido {
      grid-column: 3/5;
    }

    .aprendizados {
      grid-column: 5/-1;
    }

    .desafios {
      grid-column: 1/4;
    }

    .funcionamento-e-melhorias {
      grid-column: 4/-1;
    }
  }

  &.falta {
    .conteudo-principal {
      grid-template-columns: repeat(6, 1fr);
    }

    .motivacao {
      grid-column: 1/5;
    }

    .o-que-foi-desenvolvido {
      grid-column: 5/-1;
    }

    .relevancia {
      grid-column: 1/5;
    }

    .aprendizados {
      grid-column: 5/-1;
    }

    .desafios {
      grid-column: 1/3;
    }

    .funcionamento-e-melhorias {
      grid-column: 3/-1;
    }
  }

  &.quimera {
    .conteudo-principal {
      grid-template-columns: repeat(6, 1fr);
    }

    .motivacao {
      grid-column: 1/4;
    }

    .o-que-foi-desenvolvido {
      grid-column: 4/-1;
    }

    .relevancia {
      grid-column: 1/-1;
    }

    .aprendizados {
      grid-column: 1/3;
    }

    .desafios {
      grid-column: 3/5;
    }

    .funcionamento-e-melhorias {
      grid-column: 5/-1;
    }
  }

  &.uni-quatro {
    .conteudo-principal {
      grid-template-columns: repeat(6, 1fr);
    }

    .o-que-foi-desenvolvido {
      grid-column: 1/-1;
    }

    .motivacao {
      grid-column: 1/4;
    }

    .relevancia {
      grid-column: 4/-1;
    }

    .aprendizados {
      grid-column: 1/3;
    }

    .desafios {
      grid-column: 3/5;
    }

    .funcionamento-e-melhorias {
      grid-column: 5/-1;
    }
  }

  &.parada {
    .conteudo-principal {
      grid-template-columns: repeat(4, 1fr);

      &.boxes--col-2 {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    .boxes--col-2 {
      display: grid !important;
      grid-template-rows: repeat(2, auto) !important;
      row-gap: 4rem;
      grid-column: 1/3;
    }

    .o-que-foi-desenvolvido {
      grid-column: 1/-1;
    }

    .motivacao {
      grid-column: 1/3;
    }

    .relevancia {
      grid-column: 3/-1;
    }

    .funcionamento-e-melhorias {
      grid-column: 3/-1;
    }

    .pdf {
      .tag {
        margin-bottom: 3rem;
      }

      div {
        width: 100%;
        flex-direction: row !important;
        flex-wrap: wrap;
        gap: 3rem;
        padding: 0 !important;
      }
    }

    .iframe {
      width: 100%;
      height: 30rem;
      flex: 1;
    }
  }
}
